<ng-container>
    <label>
        {{ label }}
    </label>
    <div class="options">
        <div 
            class="option switch_option cursor-pointer" 
            [ngClass]="{'active': formValue}" 
            (click)="changed(true)">
            Yes
        </div>
        <div 
            class="option switch_option cursor-pointer" 
            [ngClass]="{'active': !formValue}"
            (click)="changed(false)">
            No
        </div>
        <div class="overlay switch_overlay eap_bg_2" [ngClass]="{'checked': formValue}" ></div>
    </div>
</ng-container>