<nav class="navbara navbar-expand-lg navbar-light bg-light px-0">
  <div class="collapse navbar-collapse bg-white p-3" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item text-center px-4 pt-3">
        <a (click)="previousStepClicked()" class="text-dark">
          <arrow [left]="true"></arrow>
          <br />
          <span class="small font-weight-bold">Paso previo</span>
        </a>
      </li>
      <li class="nav-item pt-3">
        <a (click)="moveToDate(true, firstDayOfWeek)" class="text-dark">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            fill="currentColor"
            class="bi bi-chevron-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
            ></path>
          </svg>
        </a>
      </li>
      <ng-container *ngFor="let day of daysRange; let i = index">
        <ng-container *ngIf="i !== 7">
          <li class="nav-item" [class.ml-4]="!day.active">
            <a
              class="nav-link btn btn-sm text-center"
              [class.calendar_date_active]="day.active"
              [class.calendar_date]="!day.active"
              [class.ml-4]="day.active"
              (click)="dayClicked(day.date)"
            >
              <p class="mb-0 pt-1 small">
                <b>{{ day.name }}</b>
              </p>
              <h4>{{ day.number }}</h4>
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="i === 7">
          <li class="nav-item border-left pl-4" [class.ml-4]="!day.active">
            <a
              class="nav-link btn btn-sm text-center"
              [class.calendar_date_active]="day.active"
              [class.calendar_date]="!day.active"
              [class.ml-4]="day.active"
              (click)="dayClicked(day.date)"
            >
              <p class="mb-0 pt-1 small">
                <b>{{ day.name }}</b>
              </p>
              <h4>{{ day.number }}</h4>
            </a>
          </li>
        </ng-container>
      </ng-container>
      <li class="nav-item pt-3 pl-4">
        <a (click)="moveToDate(false, firstDayOfWeek)" class="text-dark">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
