.options {
  position: relative;
  height: 50px;
  width: calc(100% - 1px);
  background: rgb(243, 243, 243);
  border-radius: 50px;
  
  .option, .overlay {
    height: 100%;
  }

  .option {
    display: inline-block;

    &:first-child {
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
    }
    
    &:last-child {
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
    }
  }
}